.App {
  width: 1300px;
  height: 1548px;
  top: -741px;
  left: -1149px;
  gap: 0px;
  opacity: 0px;
  background: #1A1A1C;
  margin-left: 50px;

}

.searchbar{
  width: 986px;
height: 79px;
top: -556px;
left: -715px;
gap: 0px;
border: 2px 0px 0px 0px;
opacity: 0px;
border: 2px solid #8E8E8E;
margin-top: 40px;
}

.btn1{
  width: 200px;
height: 79px;
margin-top: 40px;
top: -556px;
left: -715px;
gap: 0px;
border: 2px 0px 0px 0px;
opacity: 0px;
border: 2px solid #8E8E8E

}
.btn2{
  top: -556px;
  left: -715px;
  gap: 0px;
  border: 2px 0px 0px 0px;
  opacity: 0px;
  border: 2px solid #8E8E8E;
  width: 200px;
  height: 79px;
  margin-top: 40px;
  border: 2px 0px 0px 0px;
}